.slide {
  background: gray;
}

.panel {
  width: 200px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  margin: 20px;
/*  opacity: 0;*/  
  /*transition: opacity 1s; */
}

.panel.active {
  /*opacity: 1;*/
}

.slide-list {
  padding-bottom: 500px;
}