.panellist__panel {
  position: relative;
  display: block;
  list-style: none;
}

.panellist__panel-inner {
  position: relative;
  display: block;
  width: 100%;
  border: 3px solid #333333;
  margin-bottom: 22px;
}

.panellist__caption {
  display: inline-block;
  color: black;
  background: white;
  border: 3px solid black;
  padding: 10px;
  line-height: 1.4;
  font-family: courier;
  margin-right: 22px;
}

.panellist__subpanels,
.panellist__captions {
  margin: 0;
  padding: 0;
}

.panellist__image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
